html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-boz-sizing: border-box; }

*:before, *:after {
  box-sizing: inherit;
  -webkit-box-sizing: inherit;
  -moz-boz-sizing: inherit; }

body {
  background: #ccc;
  font-family: "freight-sans-pro";
  line-height: 1.3;
  color: #004853;
  /* Set the depth of the elements */ }

.container {
  max-width: 1000px;
  margin: 2.5rem auto;
  clear: both;
  overflow: hidden;
  display: block;
  padding: 0 1%; }

h1 {
  font-size: 4.6rem;
  line-height: 4rem; }

h2 {
  font-size: 3rem;
  margin: 50px 0 10px 0;
  clear: both; }

.card {
  position: relative;
  width: 32%;
  float: left;
  min-height: 14rem;
  background: white;
  cursor: pointer;
  /* Set the transition effects */
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  -o-transition: -o-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  margin-right: 2%;
  margin-bottom: 25px; }
  .card div {
    display: table;
    position: absolute;
    width: 100%;
    height: 14em;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    padding: 25px;
    box-shadow: 0px 1px 8px 0px #aaa; }
  .card:nth-of-type(3n) {
    margin-right: 0; }
  .card .back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg); }

.flipped {
  transform: rotateY(-180deg); }

h3 {
  font-size: 2.5rem;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }
  h3 span {
    font-weight: 600; }

p {
  font-size: 1.3rem;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

em {
  font-style: italic;
  font-weight: 300; }

.outer-resources, header {
  padding: 20px;
  background: url(../images/bg.jpg) center center;
  background-size: cover;
  clear: both;
  color: #eee;
  overflow: hidden; }
  .outer-resources h2, header h2 {
    color: #eee; }
  .outer-resources ul, .outer-resources li, header ul, header li {
    list-style-type: disc;
    margin-bottom: 10px; }
  .outer-resources a, header a {
    color: #eee;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px #eee dotted; }
  .outer-resources .third, header .third {
    width: 33.333%;
    float: left; }
    .outer-resources .third:nth-of-type(1), header .third:nth-of-type(1) {
      padding-left: 10%; }
    .outer-resources .third:nth-of-type(3), header .third:nth-of-type(3) {
      padding-right: 10%; }
    .outer-resources .third p, header .third p {
      display: block;
      width: 100%;
      font-size: 1rem;
      text-align: left;
      vertical-align: top;
      line-height: 1.5rem;
      margin-bottom: 15px; }
    .outer-resources .third h3, header .third h3 {
      text-align: left;
      margin-top: 50px;
      display: block; }

@media screen and (max-width: 900px) {
  .card:nth-of-type(3n) {
    margin-right: 2%; }

  .card {
    margin-left: 2%;
    width: 46%; } }
@media screen and (max-width: 600px) {
  h1, h2 {
    margin-left: 2%; }

  .card:nth-of-type(3n) {
    margin-right: auto; }

  .card {
    width: 96%;
    float: none;
    margin-right: auto;
    margin-left: auto; }

  .outer-resources .third {
    width: 100%; }
  .outer-resources:nth-of-type(1) {
    padding-left: 2%; }
  .outer-resources:nth-of-type(3) {
    padding-right: 2%; } }

/*# sourceMappingURL=style.css.map */
